
@{
    ViewBag.Title = "FormType";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dashboard</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Manage Forms</h2>
            </div>
            <div class="body">
                <div class="tab-content">
                    <div class="row">
                        <div class="col-lg-12 col-md-11">
                            <div class="card">
                                <div class="body">
                                    <div class="table-responsive">
                                        <button onclick="OpenModal(0,'',false,'')" class="btn btn-primary m-b-15" type="button">
                                            <i class="icon wb-plus" aria-hidden="true"></i> Add new record
                                        </button>
                                        <div class="table-responsive">
                                            <table id="Forms" class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Is Active</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel"></h4>
            </div>
            <div class="modal-body">
                @*<form id="Add_UpdateUser" method="post" enctype="multipart/form-data" onsubmit="Add_Update(this)"></form>*@
                <div class="row clearfix">
                    <div class="col-md-12">
                        <input type="hidden" id="ID" />
                        <div class="col-md-1">
                            <label>Name</label>
                        </div>
                        <div class="form-group">
                            <input id="Name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-1">
                            <label>Description</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="Description" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="fancy-checkbox">
                                <input id="IsActive" type="checkbox" name="checkbox">
                                <span style="font-weight:bold">Is Active</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="Add_UpdateFormType()" class="btn btn-primary">SAVE CHANGES</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>
        </div>

    </div>
</div>
<div id="FormDeleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Delete
                </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="WorkFlowId" />
                <div class="text-center">
                </div>
                <div class="text-center row mt-20">
                    <div class="col-sm-6">
                        <button class="cancel" type="button" data-dismiss="modal">Cancel</button>
                        @*<button type="button" onclick="MasterDelete()" class="custom-btn confirm-btn"></button>*@
                    </div>
                    <div class="col-sm-6">
                        <button class="confirm" onclick="WorkFlowDeleteConfirm()" type="button" style="display: inline-block; background-color: rgb(220, 53, 69); box-shadow: rgba(220, 53, 69, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">Yes, delete it!</button><div class="la-ball-fall">

                            @*<button type="button" data-dismiss="modal" class="custom-btn cancel-btn"></button>*@
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>



<script>

    $(document).ready(function () {
            //$('.js-example-data-ajax').select2();
            @*$(".js-example-basic-single").select2();*@
            //$(".js-example-tags").select2({
            //    tags: true
            //});
            $('#Forms').DataTable({
                responsive: true
            });


            BindDataTable();

    });
    function BindDataTable() {
            $.ajax({
                type: "Post",
                url: "/Workflows/GetAllForms",
                //data: { Employee: Employee, RoleId: Rolieid },
                success: function (data) {
                    $("#Forms").DataTable({
                        "lengthChange": true,
                        "pageLength": 25,
                        destroy: true,
                        data: data,
                        "lengthChange": false,
                        "filter": false,
                        "columns": [
                            { "data": "Name", "autoWidth": true },
                            { "data": "Description", "autoWidth": true },
                            {
                                render: function (data, type, row) {
                                    if (row.IsActive == true) {
                                        return '<i class="icon-check" aria-hidden="true"></i>'
                                    }
                                    else {
                                        return '';//'<i class="fa fa-close" aria-hidden="true"></i>'
                                    }
                                    //< label class="label-100" id = "Cycle_' + row.ScheduleId + '" > ' + row.CycleTime + '</label >
                                }
                            },
                            {
                                render: function (data, type, row) {
                                    return '<button type="button" onclick="OpenModal(' + row.ID + ',\'' + row.Name + '\', ' + row.IsActive + ',\'' + row.Description + '\')" class="btn btn-sm btn-outline-secondary" title="Edit"><i class="fa fa-edit"></i></button>  <button type="button" onclick="DeleteWorkFlow(' + row.ID + ')" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>';
                                    //< label class="label-100" id = "Cycle_' + row.ScheduleId + '" > ' + row.CycleTime + '</label >
                                }
                            },

                        ]

                    });
                }
            });

    }
    function OpenModal(id, Name,IsActive,Description)
    {
            $("#Name").val("");
            $("#IsActive").prop("checked", false);
            $("#Description").val("");
            $("#ID").val("");
            if (id == '0') {
                $("#defaultModalLabel").html("ADD RECORD");
                $("#defaultModal").modal();

            }
            else {
                $("#defaultModalLabel").html("EDIT RECORD");
                $("#Description").val(Description);
                $("#ID").val(id);
                $.ajax({
                    type: "Post",
                    url: "/Workflows/GetFormType",
                    data: { Type: 'Update' },
                    success: function (data) {
                        $("#Name").val(Name);
                        $("#IsActive").prop("checked", IsActive);
                    }
                });
                $("#defaultModal").modal();

            }
        }
    function Add_UpdateFormType() {
            var ID = $("#ID").val();
            var Name = $("#Name").val();
            var Description = $("#Description").val();
            var IsActive = $("#IsActive").val();
            $.ajax({
                type: "Post",
                url: "/Workflows/FormTypeInsertUpdate",
                data: { Operation: "Insert", Name: Name, ID: ID, Description: Description, IsActive: IsActive},
                success: function (result) {
                    $("#defaultModal").modal('hide');
                    BindDataTable();
                }
            });

    }
    function DeleteWorkFlow(id)
    {
        $("#WorkFlowId").val(id);
        $("#FormDeleteModal").modal();
    }
    function WorkFlowDeleteConfirm() {
            var WorkFlowId = $("#WorkFlowId").val();
            $.ajax({
                type: "Post",
                url: "/Workflows/DeleteFormType",
                data: { ID: WorkFlowId },
                success: function (userid) {
                    $("#FormDeleteModal").modal('hide');
                    BindDataTable();
                }
            });
        }
</script>
